
.tabla{
  width: 100%;
  border: 1px solid #000;

}

.tabla th {

  border: 1px solid #000;
  width: 25%;
  text-align: center;
  background-color: rgb(102, 102, 102);

}

.tabla td {

  border: 1px solid #000;
  width: 25%;
  text-align: left;
  font-weight: normal;
  text-align: justify;
  
}

.ptabla {
  text-align: center;
  font-weight: bold;  
}

p, li {
  font-weight: normal;
  text-align: justify;
}
/*.galeria {
  height: calc( 300px + 3em);
  width: 500px;
  margin:1em auto;
  border: 1px solid #555;
  position: relative;  
  display: inline-block;
  text-align: center;

}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
}

.galeria input[type=radio] {
  position: relative;
  bottom: calc(-300px - 1.5em);
  left: .5em;
}



.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(6):checked ~ img:nth-of-type(6) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(7):checked ~ img:nth-of-type(7) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(8):checked ~ img:nth-of-type(8) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(9):checked ~ img:nth-of-type(9) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(10):checked ~ img:nth-of-type(10) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(11):checked ~ img:nth-of-type(11) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(12):checked ~ img:nth-of-type(12) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(13):checked ~ img:nth-of-type(13) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(14):checked ~ img:nth-of-type(14) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(15):checked ~ img:nth-of-type(15) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(16):checked ~ img:nth-of-type(16) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(17):checked ~ img:nth-of-type(17) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(18):checked ~ img:nth-of-type(18) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(19):checked ~ img:nth-of-type(19) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(20):checked ~ img:nth-of-type(20) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(21):checked ~ img:nth-of-type(21) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(22):checked ~ img:nth-of-type(22) {
  opacity: 1;
}



.texto-encima{
    position: absolute;
    bottom: 20px;
    left: 10px;
}*/

 
       
 .carousel-inner {

  border-style: double;
  border-color: rgb(70.922, 204, 51);
}      